<% if @users.empty? %>
  <p>No users.</p>
<% else %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <a href="/users/<%= user.id %>"><%= user.name || 'unknown' %></a>
      </li>
    <% end %>
  </ul>
<% end %>
